@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: jost;
  transition: 0.2s;
  margin: 0;
}

a {
  text-decoration: none;
}

.new-whole {
  background-color: #f7f8fd;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 40px;
  gap: 30px;
}

.new-whole header {
  width: 530px;
  margin-bottom: 50px;
}

.create-new-feedback {
  height: auto;
  width: 540px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  position: relative;
}

.create-new-feedback .icon {
  position: absolute;
  top: -26px;
}

.create-new-feedback h1 {
  font-size: 24px;
  letter-spacing: -0.33px;
  color: #3a4374;
  margin-bottom: 30px;
}

.create-new-feedback .info {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.create-new-feedback .info h3 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.19px;
  color: #3a4374;
}

.create-new-feedback .info p {
  font-size: 14px;
  color: #647196;
}

.create-new-feedback input {
  height: 48px;
  width: 456px;
  border-radius: 5px;
  background-color: #f7f8fd;
  border: none;
  margin-bottom: 30px;
  font-size: 15px;
  color: #3a4374;
  padding-left: 20px;
}

.create-new-feedback input:focus {
  border: solid 2px #4661e6;
  outline: none;
}

.create-new-feedback .category {
  height: 48px;
  width: 456px;
  background-color: #f7f8fd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.create-new-feedback .category:hover {
  border: solid 2px #4661e6;
  transition: none;
}

.create-new-feedback .category p {
  font-size: 15px;
  color: #3a4374;
  cursor: pointer;
}

.category-div {
  position: relative;
}

.create-new-feedback .category-div .dropdown {
  height: 240px;
  width: 456px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 10px 40px -7px rgb(55, 63, 104, 0.35);
  position: absolute;
  top: 70px;
  left: 0px;
}

.create-new-feedback .category-div .dropdown p {
  font-size: 15px;
  color: #3a4374;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-new-feedback .category-div .dropdown p:hover {
  color: #ad1fea;
}

.create-new-feedback .category-div .dropdown p::before {
  content: "";
  height: 1px;
  width: 456px;
  background-color: #3a4374;
  opacity: 15%;
  position: absolute;
  left: -20px;
  bottom: -13px;
}

.create-new-feedback .big-input {
  height: 96px;
  width: 456px;
  border-radius: 5px;
  background-color: #f7f8fd;
  border: none;
  margin-bottom: 30px;
  font-size: 15px;
  color: #3a4374;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  resize: none;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.create-new-feedback .big-input:focus {
  border: solid 2px #4661e6;
  outline: none;
}

.create-new-feedback .buttons {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}

.create-new-feedback .buttons .cancel {
  height: 44px;
  width: 93px;
  border: none;
  border-radius: 10px;
  background-color: #3a4374;
  font-weight: bold;
  font-size: 14px;
  color: #f2f4fe;
  cursor: pointer;
}

.create-new-feedback .buttons .cancel:hover {
  background-color: #656ea3;
}

.create-new-feedback .buttons .add {
  height: 44px;
  width: 144px;
  background-color: #ad1fea;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #f2f4fe;
  cursor: pointer;
}

.create-new-feedback .buttons .add:hover {
  background-color: #c75af6;
}

@media (max-width: 630px) {
  .new-whole header {
    width: 430px;
  }

  .create-new-feedback {
    width: 430px;
  }

  .create-new-feedback .category {
    width: 100%;
  }

  .create-new-feedback .category-div .dropdown {
    width: 100%;
  }

  .create-new-feedback input,
  .create-new-feedback .big-input {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .new-whole header {
    width: 327px;
  }

  .create-new-feedback {
    width: 327px;
    padding: 20px;
    padding-top: 40px;
  }

  .create-new-feedback .icon {
    height: 40px;
    width: 40px;
    top: -3%;
  }

  .create-new-feedback h1 {
    font-size: 18px;
  }

  .create-new-feedback .info h3 {
    font-size: 13px;
  }

  .create-new-feedback .info p {
    font-size: 13px;
  }
}
